body {
    font-family: "Economica", sans-serif;
    font-size: 1.0em;

    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(253, 253, 253) 0%, #E2E2E2 100%);

}

.sub {
    letter-spacing: 0.1em;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    /* background-color: #e5e5e5 */
}

.sup {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0 10px 0;
    color: rgb(75, 75, 75);

    /* background-color: #e5e5e5 */
}

.image {
    float: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 10px 10px 0;
    border: solid 3px rgb(0, 0, 0);

}

.intro,
.about {
    display: block;
    margin: 10px;
    overflow: auto;
}

.list {
    display: inline-block;
}

.back {
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    padding: 10px;
    display: table;
    border: solid 1px darkgray;
}

@media only screen and (max-width:620px) {

    /* For mobile phones: */
    .intro,
    .image {
        width: 100%;

    }